// font size

$ft-xxs: 8px;
$ft-xs: 12px;
$ft-s: 14px;
$ft-m: 16px;
$ft-l: 18px;
$ft-xl: 24px;
$ft-xxl: 28px;
$ft-xxxl: 50px;

// space 

$micro: 4px;
$small: 10px;
$base: 15px;
$medium: 20px;
$large: 30px;
$grand: 50px;

// color
$line: #ddd;
$bg: #fdf8f4;
$coral:#e98b76;
$gray1: #f5f5f5;
$gray2: #666;
$gray3: #444;
$yellow:#f9e000;
$brown: #3c1e1e;

// z index
$z1: 1;
$z2: 10;
$z3: 100;
$z4: 1000;